# Global Config
ENVIRONMENT=development
JWT_SECRET=generate_a_secure_random_key_here

# Postgres DB
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password_to_change_in_prod
POSTGRES_DB=tallyko_shared
DATABASE_URL=postgresql://postgres:password_to_change_in_prod@db:5432/tallyko_shared

# Redis
REDIS_URL=redis://cache:6379/0

# MinIO Object Storage
MINIO_ROOT_USER=minio_admin
MINIO_ROOT_PASSWORD=minio_password_to_change
MINIO_ENDPOINT=storage:9000
MINIO_ACCESS_KEY=minio_admin
MINIO_SECRET_KEY=minio_password_to_change
